## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [ ]:
string_01 = "History is always written by the winners. hen two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [63]:
res = len(string_01.replace(' ', ''))
res

223

2. Посчитайте, сколько в строке слов.

In [10]:
res = len(string_01.split())
res

44

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [62]:
def find_words_by_first_char(txt, char):
    res = []
    if len(char) < 2:
        wordslist = txt.split()
        for word in wordslist:
            word = word.strip('.\',').lower()
            if word[0] == char:
                res.append(word)
        print('\n'.join(res))
        return
    print('error: char len must be 1')
    return

find_words_by_first_char(string_01, 'w')

written
winners
winner
writes
which
what

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [44]:
res = []
for i in range(6):
    num = str(random.randrange(100000, 999999, 1))
    rndindex = random.randrange(0, 5, 1)
    num = num[:rndindex] + '3' + num[rndindex + 1:]
    res.append(num)

res

['667733', '193092', '450358', '733838', '991362', '435833']

#### Задача 3

Дан список:

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [61]:
res = 0
for num in list_01:
    if (10 < num < 100) or (200 < num < 500):
        res = res + num
res

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [ ]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [75]:
dct = {}

for line in students:
    dct[line[0]] = line[1:]

dct

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [76]:
def change_group_by_num(num, group):
    dct[num][4] = group
    
change_group_by_num('1102', 'БСТ13')
dct

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ13'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [84]:
def show_students_by_group(groupnum):
    for student in dct:
        if dct[student][4] == groupnum:
            print(f'{dct[student][0]} {dct[student][1]} {dct[student][2]}')

show_students_by_group('БСТ13')

Богов Артем Игоревич

#### Задача 5

Дана матрица:

In [98]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [99]:
res = 0
for line in matrix:
    res = res + sum(line)

res

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [100]:
maxcolumnsum = 0
tmpcolumnsum = 0

for i in range(len(matrix[0])):
    for line in matrix:
        tmpcolumnsum += line[i]
    if tmpcolumnsum > maxcolumnsum:
        maxcolumnsum = tmpcolumnsum
    tmpcolumnsum = 0

maxcolumnsum

22